<header>
  <div class="blog-cover">
    <section>
      <div class="container">
        <a href="/">
          <h1>{{ site.title }}</h1>
          <h3>{{ site.subtitle }}</h3>
        </a>
        <div class="icons">
          <a href="https://twitter.com/NoLeasEsteBlog" title="Síguenos en Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
          <a href="https://facebook.com/NoLeasEsteBlog" title="Síguenos en Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
          <a href="{{ site_url }}/feed.xml" title="RSS Feed"><i class="icon icon-rss"></i></a>
        </div>
      </div>
    </section>
  </div>
</header>
