---
layout: default
---

<article>
  <div class="container">
    <section class="index">
      <img src="{{ page.image | prepend: "/assets/images/" | prepend: site_url }}" class="avatar">
    </section>
    <header>
      <div>
        <h2 class="title">{{ page.title }}</h2>
        <div class="meta">
          Escrito por <address>{{ page.author }}</address> &mdash;
          {% include time.html %}
        </div>
      </div>
    </header>

    <section>
      {{ content }}
    </section>

    <section>
      {% include disqus.html %}
    </section>
  </div>
</article>
